.tipsy
{
    position: absolute;
    z-index: 100000;
    padding: 5px;
}

.tipsy-inner
{
    padding: 10px;
    background-color: #000;
    color: #333;
    border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 0px 3px #ddd;
}

.tipsy-arrow,
.tipsy-arrow-bg
{
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
}

.tipsy-arrow-bg
{
    border-width: 6px;
}



.tipsy-n .tipsy-arrow
{
    border-bottom-color: #fff;
    top: -4px; left: 50%; margin-left: -4px;
}

.tipsy-n .tipsy-arrow-bg
{
    border-bottom-color: #ebebeb;
    top: -6px; left: 50%; margin-left: -5px;
}


.tipsy-nw .tipsy-arrow
{
    border-bottom-color: #fff;
    top: -4px; left: 11px;
}

.tipsy-nw .tipsy-arrow-bg
{
    border-bottom-color: #ebebeb;
    top: -6px; left: 10px;
}


.tipsy-ne .tipsy-arrow
{
    border-bottom-color: #fff;
    top: -4px; right: 11px;
}

.tipsy-ne .tipsy-arrow-bg
{
    border-bottom-color: #ebebeb;
    top: -6px; right: 10px;
}


.tipsy-s .tipsy-arrow
{
    border-top-color: #fff;
    bottom: -4px; left: 50%; margin-left: -4px;
}

.tipsy-s .tipsy-arrow-bg
{
    border-top-color: #ebebeb;
    bottom: -6px; left: 50%; margin-left: -5px;
}


.tipsy-sw .tipsy-arrow
{
    border-top-color: #fff;
    bottom: -4px; left: 11px;
}

.tipsy-sw .tipsy-arrow-bg
{
    border-top-color: #ebebeb;
    bottom: -6px; left: 10px;
}


.tipsy-se .tipsy-arrow
{
    border-top-color: #fff;
    bottom: -4px; right: 11px;
}

.tipsy-se .tipsy-arrow-bg
{
    border-top-color: #ebebeb;
    bottom: -6px; right: 10px;
}


.tipsy-e .tipsy-arrow
{
    border-left-color: #fff;
    top: 50%; margin-top: -4px; right: -4px;
}

.tipsy-e .tipsy-arrow-bg
{
    border-left-color: #ebebeb;
    top: 50%; margin-top: -5px; right: -6px;
}


.tipsy-w .tipsy-arrow
{
    border-right-color: #fff;
    top: 50%; margin-top: -4px; left: -4px;
}

.tipsy-w .tipsy-arrow-bg
{
    border-right-color: #ebebeb;
    top: 50%; margin-top: -5px; left: -6px;
}
